<!-- begin comments -->
<div class="comments">
  <div id="disqus_thread" class="comments__article"></div>
  <script>
    (function () {
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.disqus-identifier }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view
    <a href="https://disqus.com/?ref_noscript"></a>
  </noscript>
</div>
<!-- end comments -->