<div class="contact wow fadeInUp">
  <form style="max-width:100%;width:300px;text-align:center;border:solid;margin:0 auto;border-color:#808080;border-width:0px 0px;padding-bottom:20px;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Risnfd', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <div style="color:#7d7d7d;background:transparent;font-size:15px;padding:0px 0px;margin:0px 0px">
  Berlangganan
  </div>
  <input type="text" style="width:200px;color:#7d7d7d;background:#FFFFFF;padding:px 5px;" name="email" placeholder="email"/><br>
  <input type="hidden" value="Risnfd" name="uri"/>
  <input type="hidden" name="loc" value="en_US"/>
  <input style="font-size:10px;background:#7d7d7d;color:#FFFFFF;padding:5px 15px;border-radius:5px;border:0px" type="submit" value="Submit" />
  </form>
</div>